body {
    font-family: 'DM Sans', sans-serif;
}

.btn-lemon {
    background-color: #BCFF31;
    border-color: #BCFF31;
    color: #03092D;
}

.btn-lemon:hover {
    background-color: silver;
    border-color: silver;
    color: #03092D;
}

.bg-midnight {
    background-color: #03092D;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.navbar-toggler {
    border: none;
}

/* Barra de pesquisa */
.form-control {
    border: none !important;
    box-shadow: none !important;
}

.form-control,
.btn {
    border-radius: 0 !important;
}

/* Remove a seta do dropdown-toggle (Navbar) */
.dropdown-toggle::after {
    display: none !important;
}

/* Expandir o menu ao passar o mouse sobre o dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.navbar-bottom {
    background-color: white;
}

.payment-logo {
    width: auto;
    height: 25px;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    object-fit: contain;
}

/* Ajuste Imagem Carousel */
.custom-carousel img {
    object-fit: cover;
    height: 100%;
}

/* Animação zoom imagem e expansão texto */
.col-animated img {
    transition: transform 1s ease;
}

.col-animated:hover img {
    transform: scale(1.25);
}

.col-animated h4 {
    transition: letter-spacing 1s ease;
}

.col-animated:hover h4 {
    letter-spacing: 5px;
}

.product p {
    margin: 0;
}

.card, .card-img-top {
    border-radius: 0;
}